<div class=" text-center mt-5">

<p class="fw-bold fs-2 py-5">Interior Design Doesn't Have to Be<br/> Expensive or Complicated! It Should Be<br/> Smart & User Friendly</p>

<div class="container mt-5">
    <div class="row">
      <div class="col">
      <p class="ms-5 text-start" style="line-height: 30px; ">Lorem ipsum dolor sit amet consectitatibus sed cumque quisquam?  autem officiis, tempore, nulla quam soluta alias animi maiores itaque distinctio aspernatur velit commodi atque amet deleniti! Nisi beatae repellendus eos, cupiditate magni accusantium!</p>
      </div>
      <div class="col">
        <img src="https://media.istockphoto.com/id/1349049467/photo/hanging-picture-together.webp?b=1&s=170667a&w=0&k=20&c=VfzxycKU8PM9mwdYCUuF0PWyd-yhQMw_WOmrJyQb6DE=" alt="" style="width:75% ;height: 65%; ">
      </div>
    </div>
</div>

</div>
