<!-- <div class="text-center mt-5">
<h2>A cup of happiness</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis accusamus repudiandae, quae enim atque impedit?</p>

<div class="container text-center mt-5">
    <div class="row">
      <div class="col">
        <img style="width: 300px;" src="https://t4.ftcdn.net/jpg/01/16/61/93/360_F_116619399_YA611bKNOW35ffK0OiyuaOcjAgXgKBui.jpg" alt="">
      </div>
      <div class="col">
        <img style="height:400px;" src="https://img.freepik.com/free-photo/delicious-coffee-beans-cup_23-2150691429.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707782400&semt=sph" alt="">
      </div>
      <div class="col">
        <img style="width: 200px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbDrYkIM3SGbN7fWm7j3Dj_QE2T33jNAsR9QCF6rTuQ9EIIIuARxN2ajaT2ge7j9tCa4s&usqp=CAU" alt="">
      </div>
    </div>
  </div>


</div> -->

<div class="container-fluid">
<div class="img">
  <img src="https://images.unsplash.com/photo-1533090161767-e6ffed986c88?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; height: 100vh;" alt="">
</div>
<div class="text shadow  ps-4 pt-4 " style="width: 400px;height: 250px ;margin-top: 7%;">
  <h2 class="text-bolder mb-3" >MAKE YOUR DESIGN</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing <br/> elit. Asperiores libero quam ullam autem dicta<br/> repellendus magnam iusto sed neque illum?</p>
  <button  type="button" class="btn btn-outline-secondary p-2 mt-3">leran more</button>
</div>
</div>







<!-- https://www.axisbank.com/images/default-source/revamp_new/loans/mobile/home-loan-mob.jpg -->